<?xml version="1.0"?>
<phpunit bootstrap="./bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true"
         stopOnFailure="false"
         processIsolation="false"
         backupGlobals="false"
         syntaxCheck="true">

    <testsuite name="Controller tests">
        <directory>./Controller</directory>
    </testsuite>
    <testsuite name="Service tests">
        <directory>./Service</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>

</phpunit>
